.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid black;
    margin: 0rem 7rem 0rem 7rem;
    padding: 0rem 1rem 0rem 1rem;
}

.my-profile {
    border: 3px solid rgb(40, 38, 38);
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
}